{% extends "base.html" %}
{%load static%}

    {%block content%}
    <div class="go-register">
        <form action="http://127.0.0.1:8000/inscription">
            <button id="signup-button">Inscrivez-vous maintenant</button>
        </form>
    </div>
    <div class="login-form">
        <h2>Connectez-vous</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Se connecter</button>
        </form>
    </div>
    {%endblock%}