{% extends 'base_login.html' %} {% load static %} {% block content %}
<div class="abonnement">
  <!-- Section "recherche d'utilisateur" -->
  <h3>S'abonner à un utilisateur</h3>
  <form method="post">
    {% csrf_token %} {{ message }} {{ form.as_p }}
    <button type="submit">S'abonner</button>
  </form>
  <!-- Section "Abonnements" -->
  <div class="subscriptions-section">
    <h3>Abonnements actifs</h3>
    <div>
      <ul>
        {% include 'subscriptions.html' %}
      </ul>
    </div>
  </div>
  <!-- Section "Abonnés" -->
  <div class="subscriptions-section">
    <h3>Abonnés</h3>
    <div>
      <ul>
        {% for user in followers_users %}
        <li>{{ user }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
