<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{%static 'styles_login.css'%}"/>   
    </head>    
    <body>
        <div class="container">
            <h1>LITReview</h1>
            <nav>
              <ul>
                <li><a href="#">Flux</a></li>
                <li><a href="{% url 'mes-posts' %}">Posts</a></li>
                <li><a href="#">Abonnements</a></li>
                <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
              </ul>
            </nav>
          </div>
        <div class="scene">
            {%block content %}{%endblock%}
        </div>
    </body>

</html>        

