{%load static%}
    
{% block content %}
<ul class="list_ticket">
    {% for ticket in tickets %}
        <li>
            <h2>{{ ticket.title }}</h2>
            <p class="date">{{ ticket.time_created}}</p>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}" alt="couverture du livre {{ ticket.title }}" />
            <div class="modif-ticket">
                <form method="get" action="{% url 'modifier-ticket' ticket.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Modifier" class="btn btn-secondary">
                </form>
            </div>
            <div class="supprime-ticket">
                <form method="post" action="{% url 'delete-ticket' ticket.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Supprimer" class="btn btn-secondary">
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
