{% load static %}
<div class="ticket-snippet">
    <h3>{{ post.title }}</h3>
    <p>Auteur : {{ post.user.username }}</p>
    <p class="date">{{ post.time_created }}</p>
    <p>{{ post.description }}</p>
    {% if post.content_type == "TICKET" and post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
    {% endif %}
    {% if user.is_authenticated and post.user != user %}
        <a href="{% url 'nouvelle-critique-2' post.id %}" class="btn btn-primary">Créer une critique</a>
    {% endif %}
    <p></p>
    <p class="date">{{ post.time_created }}</p>
</div>
